[submodule "Web Development 101/google-homepage"]
	path = Web Development 101/google-homepage
	url = https://github.com/srashidi/google-homepage.git
[submodule "Web Development 101/The-Euler-Project"]
	path = Web Development 101/The-Euler-Project
	url = https://github.com/srashidi/The-Euler-Project.git
[submodule "Web Development 101/javascript-jquery-project"]
	path = Web Development 101/javascript-jquery-project
	url = https://github.com/srashidi/javascript-jquery-project.git
[submodule "Web Development 101/Ruby_Project"]
	path = Web Development 101/Ruby_Project
	url = https://github.com/srashidi/Ruby_Project.git
[submodule "Web Development 101/Rails_Project"]
	path = Web Development 101/Rails_Project
	url = https://github.com/srashidi/Rails_Project.git
[submodule "Web Development 101/git_calisthenitcs"]
	path = Web Development 101/git_calisthenitcs
	url = https://github.com/srashidi/git_calisthenitcs.git
[submodule "Ruby/Files_and_Serialization"]
	path = Ruby/Files_and_Serialization
	url = https://github.com/srashidi/Files_and_Serialization.git
[submodule "Ruby/Ruby_on_the_Web"]
	path = Ruby/Ruby_on_the_Web
	url = https://github.com/srashidi/Ruby_on_the_Web.git
[submodule "Ruby/Recursion"]
	path = Ruby/Recursion
	url = https://github.com/srashidi/Recursion.git
[submodule "Ruby/Data_Structures"]
	path = Ruby/Data_Structures
	url = https://github.com/srashidi/Data_Structures.git
[submodule "Ruby/Object_Oriented_Programming"]
	path = Ruby/Object_Oriented_Programming
	url = https://github.com/srashidi/Object_Oriented_Programming.git
[submodule "Ruby/RSpec_Project"]
	path = Ruby/RSpec_Project
	url = https://github.com/srashidi/RSpec_Project.git
[submodule "Ruby/Ruby_Building_Blocks"]
	path = Ruby/Ruby_Building_Blocks
	url = https://github.com/srashidi/Ruby_Building_Blocks.git
[submodule "Ruby/Ruby_Final_Project"]
	path = Ruby/Ruby_Final_Project
	url = https://github.com/srashidi/Ruby_Final_Project.git
[submodule "Ruby on Rails/Rails_Tutorial"]
	path = Ruby on Rails/Rails_Tutorial
	url = https://github.com/srashidi/Rails_Tutorial.git
[submodule "Ruby on Rails/Web_Refresher"]
	path = Ruby on Rails/Web_Refresher
	url = https://github.com/srashidi/Web_Refresher.git
[submodule "Ruby on Rails/Basic_Routes_Views_Controllers"]
	path = Ruby on Rails/Basic_Routes_Views_Controllers
	url = https://github.com/srashidi/Basic_Routes_Views_Controllers.git
[submodule "Ruby on Rails/Active_Record_Basics"]
	path = Ruby on Rails/Active_Record_Basics
	url = https://github.com/srashidi/Active_Record_Basics.git
[submodule "Ruby on Rails/Forms"]
	path = Ruby on Rails/Forms
	url = https://github.com/srashidi/Forms.git
[submodule "Ruby on Rails/Authentication"]
	path = Ruby on Rails/Authentication
	url = https://github.com/srashidi/Authentication.git
[submodule "Ruby on Rails/Active_Record_Associations"]
	path = Ruby on Rails/Active_Record_Associations
	url = https://github.com/srashidi/Active_Record_Associations.git
[submodule "Ruby on Rails/Advanced_Forms"]
	path = Ruby on Rails/Advanced_Forms
	url = https://github.com/srashidi/Advanced_Forms.git
