[submodule "Web Development 101/google-homepage"]
	path = Web Development 101/google-homepage
	url = https://github.com/srashidi/google-homepage.git
[submodule "Web Development 101/The-Euler-Project"]
	path = Web Development 101/The-Euler-Project
	url = https://github.com/srashidi/The-Euler-Project.git
[submodule "Web Development 101/javascript-jquery-project"]
	path = Web Development 101/javascript-jquery-project
	url = https://github.com/srashidi/javascript-jquery-project.git
[submodule "Web Development 101/Ruby_Project"]
	path = Web Development 101/Ruby_Project
	url = https://github.com/srashidi/Ruby_Project.git
[submodule "Web Development 101/Rails_Project"]
	path = Web Development 101/Rails_Project
	url = https://github.com/srashidi/Rails_Project.git
[submodule "Web Development 101/git_calisthenitcs"]
	path = Web Development 101/git_calisthenitcs
	url = https://github.com/srashidi/git_calisthenitcs.git
[submodule "Ruby/Files_and_Serialization"]
	path = Ruby/Files_and_Serialization
	url = https://github.com/srashidi/Files_and_Serialization.git
[submodule "Ruby/Ruby_on_the_Web"]
	path = Ruby/Ruby_on_the_Web
	url = https://github.com/srashidi/Ruby_on_the_Web.git
[submodule "Ruby/Recursion"]
	path = Ruby/Recursion
	url = https://github.com/srashidi/Recursion.git
[submodule "Ruby/Data_Structures"]
	path = Ruby/Data_Structures
	url = https://github.com/srashidi/Data_Structures.git
[submodule "Ruby/Object_Oriented_Programming"]
	path = Ruby/Object_Oriented_Programming
	url = https://github.com/srashidi/Object_Oriented_Programming.git
[submodule "Ruby/RSpec_Project"]
	path = Ruby/RSpec_Project
	url = https://github.com/srashidi/RSpec_Project.git
[submodule "Ruby/Ruby_Building_Blocks"]
	path = Ruby/Ruby_Building_Blocks
	url = https://github.com/srashidi/Ruby_Building_Blocks.git
[submodule "Ruby/Ruby_Final_Project"]
	path = Ruby/Ruby_Final_Project
	url = https://github.com/srashidi/Ruby_Final_Project.git
[submodule "Ruby on Rails/Rails_Tutorial"]
	path = Ruby on Rails/Rails_Tutorial
	url = https://github.com/srashidi/Rails_Tutorial.git
